<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/font_awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/static/bootstrap_select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/toastr/toastr.min.css">
    <meta charset="UTF-8">
    <title>OPENOTE</title>
</head>
<body>
<script src="/static/bootstrap/popper.min.js"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap/jquery-3.4.1.min.js"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script src="/static/bootstrap_select/bootstrap-select.min.js"
        crossorigin="anonymous">
</script>
<script src="/static/toastr/toastr.min.js" crossorigin="anonymous">
</script>

<!--导航栏-->
<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'http' %}">HTTP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dns' %}">DNS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'file' %}">FILE</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'xss' %}">XSS</a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LOGOUT <i class="fa fa-power-off"></i></a>
        </li>
    </ul>
</div>

{% block forms %}

{% endblock %}

<div class="container">

    <blockquote class="blockquote">
        {% block usage %}
        {% endblock usage %}
    </blockquote>
</div>

<div class="container" style="margin-bottom: 10px; margin-block: 10px">
    {% block button %}
    {% endblock button %}
</div>

<div class="container">

    {% block record %}

    {% endblock record %}

    {% block pagination %}
    {% endblock pagination %}
</div>

</body>
</html>